.filter-item {
    cursor: pointer;
    background: #DBDBDB;
    border-radius: 30px;
    padding: 12px 18px;
    font-weight: 500;
    transition: all .3s;
    font-size: clamp(12px, 1.6vw, 16px);
    white-space: nowrap;
    &:hover {
        background: #C6C6C6;
    }
} 