.app-header {
    display: flex;
    justify-content: space-between;
}

.logo-nav-wrapper {
    display: flex;
    align-items: center;
    column-gap: 50px
}

// @media (max-width: 660px) {
//     ..app-header{
//         display: none;
//     }
// }


