@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

@import url('./reset.css');
@import './vars.scss';
html, body {
    scroll-behavior: smooth
}
body {
    font-family: 'Montserrat', sans-serif;
    background: $background;
}
a {
    color: #000;
}
section {
    margin-top: $section-gap;
}
.App {
    margin-top: 50px;
}
.app-main-container {
    margin-top: 50px !important;
    max-width: $container-width;
    margin: 0 auto;
}