.product-filters {
    margin-top: 50px !important;
    display: flex;
    justify-content: space-between;

    .shop-list-filter {
        max-width: 100%;
        
        display: flex;
        column-gap: 8px;

        .active-filter {
            background: #000;
            color: #fff;
        }
    }
}

@media (max-width: 660px) {
    .shop-list-filter {
        overflow-x: scroll;
        padding-bottom: 10px;
    }
}