@import './../../app/vars.scss';

.header-cart {
    display: flex;
    column-gap: 8px;
    border-radius: 30px;
    background: $accent-color;
    padding: 12px 18px;
    color: #fff;
    
    .cart-sum {
        border-right: #fff 1px solid;
        padding-right: 8px;
    }
    .cart-icon {
        display: flex;
        svg {
            width: 20px;
            path {
                fill: #fff;
            }
        }
    }
}