@import './../../app/vars.scss';

.cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    .header-cart {
        display: flex;
        column-gap: 8px;
        border-radius: 30px;
        background: $accent-color;
        padding: 12px 18px;
        color: #fff;
        font-size: clamp(12px, 1.6vw, 16px);
        white-space: nowrap;
        
        .cart-sum {
            border-right: #fff 1px solid;
            padding-right: 8px;
        }
        .cart-icon {
            display: flex;
            svg {
                width: clamp(15px, 2vw, 20px);
                path {
                    fill: #fff;
                }
            }
        }
    }

    .logout-btn {
        background: $accent-color;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        svg {
            path {
                fill: #fff;
            }
            width: clamp(15px, 2vw, 20px);
        }
    }
}
