.food-list {
    margin-top: 50px !important;
    overflow: hidden;
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 2rem;
}


@media (max-width: 650px) {
    .food-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}